<!-- Navbar -->
<nav class="top-bar dark-grey">
    <ul>
        <li class="site-link vertical-center"><a href="#Page-Top" class="btn-nav">{{ site.title }}</a></li>
        <li class="nav-buttons vertical-center content-hidden-medium"><a href="#About" class="btn-nav">About</a></li>
        <li class="nav-buttons vertical-center content-hidden-medium"><a href="#Projects" class="btn-nav">Projects</a></li>
        <li class="nav-buttons vertical-center content-hidden-medium"><a href="#Page-Top" class="btn-nav">Home</a></li>
        <li class="nav-buttons vertical-center content-shown-medium" onclick="toggleDropdownMenu()"><i class="btn-nav fa fa-bars" aria-hidden="true"></i></li>
    </ul>
    <div id="menuDiv" class="dropdown">
        <ul>
            <li><a href="index.html" class="btn-dropdown">Home</a></li>
            <li><a href="#Projects" class="btn-dropdown">Projects</a></li>
            <li><a href="#About" class="btn-dropdown">About</a></li>
        </ul>
    </div>
</nav>
<div class="top-margin"></div>