
/* For Printing */

/* Header Section Changes */

#MenuButton {display: none;}
#AreaContainer {display: none;}

/* Main Section Changes */

#Sidebar {display: none;}

/* Footer Section Changes */

#FooterContainer {display: none;}
