body{
    background-color:white;
    margin: 0;
}

.dark-grey{
    background-color: #{{ site.color.primary }};
    color: #{{ site.color.primary-text }};
}

.top-bar{
    width: 100%;
    position: fixed;
    z-index: 1030;
    top: 0;
    height: {{ site.navbar.height }}px;
}

@media (max-width: 849px) {
    .top-bar {
        height: {{ site.navbar.height-small }}px;
    }
}

.top-margin {
    margin-top: {{ site.navbar.height }}px;
}

@media (max-width: 849px) {
    .top-margin {
        margin-top: {{ site.navbar.height-small }}px;
    }
}

.top-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.nav-buttons{
    float: right;
    margin: 0 5px;
    font-size: 22px;
}

.site-link{
    float: left;
    font-size: 32px;
}

@media (max-width: 849px) {
    .site-link{
        font-size: 18px;
    }
}

.main-footer{
    width: 100%;
    font-size: 20px;
    padding: 15px 0;
}

.dropdown{
    background: #{{ site.color.primary }};
    padding: 0 0;
    margin: 1px;
    border-radius: 5%;
    width: 200px;
    float: right;
    display: none;
}

.dropdown ul {
    padding: 0;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 849px) {
   .content-hidden-medium {
        display: none;
    }
}

@media (min-width: 850px) {
    .content-shown-medium {
        display: none;
    }
}

.btn-dropdown {
    color: #{{ site.color.primary-text }};
    padding: 15px 25px;
    display: block;
    barckground: 0 0;
    transition: all .3s ease-in-out;
    font-weight: bold;
    text-align: center;
}

.btn-dropdown:hover,
.btn-dropdown:focus,
.btn-dropdown:active,
.btn-dropdown:active {
    color: #{{ site.color.accent }};
    background: #{{ site.color.btn-hover }};
    text-decoration: none;
    cursor: pointer;
    border-radius: 10%
}

.btn-nav{
    color: #{{ site.color.primary-text }};
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    border-radius: 5%;
    background: 0 0;
    transition: all .3s ease-in-out;
    border: solid 2px #{{ site.color.primary }};
    font-weight: bold;
}

.btn-nav:hover,
.btn-nav:focus,
.btn-nav:active,
.btn-nav.active{
    border: solid 2px #{{ site.color.primary-text }};
    color: #{{ site.color.accent }};
    background: #{{ site.color.btn-hover }};
    text-decoration: none;
    cursor: pointer;
}

.btn-social{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    line-height: 45px;
    margin-top: 15px;
    font-size: 20px;
    color: #{{ site.color.primary-text }};
}

.btn-outline{
    border: solid 2px #{{ site.color.primary-light }};
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active{
    border: solid 2px #{{ site.color.primary-text }};
    color: #{{ site.color.accent }};
    background: #{{ site.color.btn-hover }};
    text-decoration: none;
}

.content-area-accent {
    color: black;
    word-wrap: normal;
    background: #{{ site.color.accent }};
}

.content-area-light {
    color: black;
    word-wrap: normal;
    background: {{ site.color.primary-text }};
}

.content-main {
    padding: {{ site.navbar.height }}px 0;
}

@media (max-width: 849px) {
    .content-main {
        padding: {{ site.navbar.height-small }}px 0;
    }
}
