<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ "style.css" }}">
	<script src="https://kit.fontawesome.com/277c075f99.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">

</head>

<body>

  <nav class="top-bar dark-grey">
    <ul>
      <li class="site-link vertical-center"><a href="{{ "/" | absolute_url }}" class="btn-nav"><img id=logo src="{{ "/assets/logo.png" | prepend: site.baseurl }}" alt="{{ site.title }}"></a></li>
      <li class="nav-buttons vertical-center content-hidden-medium"><a href="{{ "/Methods/" | prepend: site.baseurl }}" alt="{{ site.title }}" class="btn-nav">Methods</a></li>  
      <li class="nav-buttons vertical-center content-hidden-medium"><a href="{{ "/SPSS/" | prepend: site.baseurl }}" alt="{{ site.title }}" class="btn-nav">SPSS</a></li>  
      <li class="nav-buttons vertical-center content-hidden-medium"><a href="{{ "/jamovi/" | prepend: site.baseurl }}" alt="{{ site.title }}" class="btn-nav">jamovi</a></li>
      <li class="nav-buttons vertical-center content-hidden-medium"><a href="{{ "/JASP/" | prepend: site.baseurl }}" alt="{{ site.title }}" class="btn-nav">JASP</a></li>
      <li class="nav-buttons vertical-center content-shown-medium" onclick="toggleDropdownMenu()"><i class="btn-nav fa fa-bars" aria-hidden="true"></i></li>
   </ul>
   <div id="menuDiv" class="dropdown">
    <ul>
      <li class="nav-buttons vertical-center content-hidden-medium"><a href="{{ "/Methods/" | prepend: site.baseurl }}" alt="{{ site.title }}" class="btn-dropdown">Methods</a></li>  
      <li class="nav-buttons vertical-center content-hidden-medium"><a href="{{ "/SPSS/" | prepend: site.baseurl }}" alt="{{ site.title }}" class="btn-dropdown">SPSS</a></li>  
      <li class="nav-buttons vertical-center content-hidden-medium"><a href="{{ "/jamovi/" | prepend: site.baseurl }}" alt="{{ site.title }}" class="btn-dropdown">jamovi</a></li>
      <li class="nav-buttons vertical-center content-hidden-medium"><a href="{{ "/JASP/" | prepend: site.baseurl }}" alt="{{ site.title }}" class="btn-dropdown">JASP</a></li>
 
    </ul>
    </div>
  </nav>
  <div class="top-margin"></div>

  <div class="container-lg px-3 my-5 markdown-body" >
    {{ content }}
  </div>

</body>

<footer class="dark-grey main-footer text-center">

  <div id=footer class="container-lg px-3 markdown-body">
    Contact: 
    <a href="mailto:cwendorf@uwsp.edu">cwendorf@uwsp.edu</a>
    <br />
    Repository: 
    {% if site.github.is_project_page %}
    <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> /  
    {% endif %}
    {% if site.github.is_project_page %}
      <a href="{{ site.github.repository_url }}">Sourcebook</a>
    {% endif %}    
  </div>

</footer>

</div>
</html>
